body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url(images/clouds.jpg);
}

#game-board{
    background: green;
    margin-top: 70px;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

#score{
    font-size: 50px;
    color: black;
    position: absolute;
    top: 0;
    margin-top: 10px;
}

.snake{
    background-color: yellow;
  margin: 2px;
}
.power{
    background-color: blue;
    margin: 2px;
}
.food{
    background-color: red;
    margin: 2px;
}